@font-face {
  font-family: 'SourceSans';
  src: url('../fonts/SourceSansPro-Regular.otf');
}

body{
  font-family: 'SourceSans';
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.text-center{
  text-align: center;
}
.bold{
  font-weight: bold;
}
